.App {
  text-align: center;
}


.home-style{
   background-image:
  url("../../heyauntie/src/assets/img/home-bk.png");
  background-size: cover;
  min-height: 100vh;
}



.logo{
  max-width:150px;
  max-height: 150px;
}


.profile-img{
  background-image: url("../../heyauntie/src/assets/img/profile.png");
  background-size: cover;
  min-height: 100vh;
}

.blue-img{
  text-align:center;
}



.container{
  text-align: center;
}


.blue-logo{
  width:45%;
  height:25%;
  padding: 50px;
}

/* homepage */
.home-container{
  display:flex;
  align-items: center;
}

.text-container{
  display: flex;
  flex-direction: column;
}

#invite{
   float:right;  
  font-family: Bely;
  font-size: 20px;
}

#log-btn{
  background-color:  #001130;
  color:white;
  font-family: Bely;
  font-size: 18px;
}

.home-para{
  font-family: Bely;
  font-size:20px;
}

.home-heading{
  font-family: Bely;
}

/* Questions */
.questions-bkg{
  background-image:url("../src/assets/img/questions-bkg.png");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;

}


.form-questions{
  text-align: center;
  height:35%;
  padding:100px;
}


.question-checkboxes{
  display: flex;
  flex-direction: column;
  
}






/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



