.App {
  text-align: center;
}


.home-style{
   background-image:
  url("../../heyauntie/src/assets/img/home-bk.png");
  background-size: cover;
  min-height: 100vh;
}

.homepage{
  display:inline;
 }
 
.main-info{
 display: flex; 
  display:inline-block;
  justify-content: right;
  overflow: hidden;
  }

.logo{
  max-width:150px;
  max-height: 150px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



