.App {
  text-align: center;
}


.home-style{
   background-image:
  url("../../heyauntie/src/assets/img/home-bk.png");
  background-size: cover;
  min-height: 100vh;
}



.logo{
  max-width:150px;
  max-height: 150px;
}


.profile-img{
  background-image: url("../../heyauntie/src/assets/img/profile.png");
  background-size: cover;
  min-height: 100vh;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



